# API Framework
fastapi
uvicorn[standard]

# Environment Management
python-dotenv

# Data Validation
pydantic
pydantic[email]
pydantic-settings

# Database
sqlalchemy
asyncpg     
alembic     
psycopg2-binary

# Cache / Queue
redis

# HTTP Client
httpx
httpx2
requests

# Development Tools
pytest
pytest-asyncio
black
ruff